html, body {height:100%;}
body{
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

main{
	width: 100%;
	min-height:100%;
    position:relative;
}

/*Menu Home*/
.logo{
	width: 190px;
}

.navbar-collapse{
	margin-left: 30px;
}

.navbar-toggler-icon{
	background: url('../img/_ionicons_svg_md-menu.svg');
}

.barra-left{
	border-left: #faa71b solid 1px;
}

.barra-right{
	border-right: #faa71b solid 1px;
}

header{
	border-bottom: #faa71b solid 1px;
	overflow: hidden;
	position: fixed;
	z-index: 7;
	top:0;
	width: 100%;
	background: #fff;
}

a.nav-item{
	text-transform: uppercase;
}

.yellow {
	color: #faa71b;
}

/*a.yellow:hover{
	color: white;
	background-color: #faa71b;
}*/

a.yellow-active{
	color: white;
	background-color: #faa71b;
}

.gray{
	color:#b5b5b5;
}

/*a.gray:hover{
	color: white;
	background-color: #b5b5b5;
}*/

a.gray-active{
	color: white;
	background-color: #b5b5b5;
}

.fa-lg {
    line-height: 1;
}

select{
	border: none;
	background: none;
	color: #b5b5b5;	
	margin-left: 20px;
}

/* Slide - Home */
.swiper-container{
    width: 100%;
    height: 100%;
    margin: 82px auto;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev{
	height: 65px;
	background-size: 27px 75px;
	top: 45%;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	background-image: url(../img/Seta-Slide-Menu.png);
	left: 0px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	background-image: url(../img/Seta-Slide-Menu-04.png);
	right: 0px;
}

.bg-slide{
	width: 100%;
}

.text-slide{
	z-index: 5;
    text-align: left;
    position: absolute;
	height: 370px;
	color: white;
	font-weight: 400;
	margin-left: -20%;
}

.text-slide p{
	font-size: 1.3rem;
	font-weight: 400;
}

.text-slide h1{
	font-size: 3.5rem;
}

.black{
	font-weight: 800;
}

.light{
	font-weight: 300;
}

.text-slide p.paragrafo{
	font-size: 1rem;
	font-weight: 300;
}

/*Principais Vantagens*/
.pvantagens{
	margin-top: 0;
	padding-top: 0;
	color: #3c3c3c;
	margin-bottom: 50px;
}

.pvantagens h2{
	font-size: 3.5rem;
    margin-bottom: 60px;
}

.pvantagens h2 span strong{
	font-weight: bold;
}

.list-main-vantage li{
	list-style-image: url(../img/icon-list-principais-vantagens.png);
	margin-bottom: 20px;
	margin-top: 0px;
}

.list-main-vantage li h3{
	font-size: 1.4rem;
	margin-bottom: 0px;
}

/*Perfis Disponiveis*/
.pdisponible{
	background: #f0f0f0;
	margin-bottom: 80px;
}

.border-bottom{
	border-bottom:1px solid #aaaaab!important;
	margin-bottom: 15px;
}

.text-perfil-one{
	text-transform: uppercase;
	font-size: 1.125rem;
	color: #3c3c3c;
	font-weight: 400;
}

.text-perfil-two{
	text-transform: uppercase;
	font-size: 1.5625rem;
	color: #3c3c3c;
}

.text-perfil-three{
	text-transform: uppercase;
	font-size: 0.875rem;
	color: #3c3c3c;
	font-weight: 400;
}

.mg-bottom{
	margin-bottom: 15px;
}

.mg-top-perfis{
	margin-top: 10px;
}


h2.title-perfis{
	margin-top: 30px;
	margin-bottom:60px;
	font-size: 3.5rem;
}

h2.title-perfis strong{
	font-weight: bold;
}

img.img-perfis{
	margin-top: 30px;
}

/*Para Agências Receptivas*/
.pareceptivas{
	background: #fff;
	color: #3c3c3c;
	padding-bottom: 15px;
	margin-bottom: 75px;
}

a.list-receptivos{
	color: #bbbbbb !important;
	text-transform: uppercase;
    font-size: 2.5rem;
	margin-left: auto;
    margin-right: auto;
    padding-left: initial;
	padding-right: initial;
	cursor: pointer;
}

a.list-receptivos:hover{
	color: #f9a71a !important;
	border-bottom: #f9a71a solid 2px;
	text-decoration: none;
}

a.link-active{
	color: #f9a71a !important;
	border-bottom: #f9a71a solid 2px;
	text-decoration: none;
}

p.text-main-receptivos{
	color: #3c3c3c;
	font-weight: 400;
	margin-bottom: 30px;
}

.clientes-satisfeitos h3{
	font-weight: 400;
	margin-bottom: 20px;
}

.clientes-satisfeitos img{
	margin-bottom: 20px;
    margin-top: 20px;
}

.clientes-satisfeitos h4{
	margin-bottom: 20px;
    margin-top: 20px;
}

p.dep{
	margin-top: 20px;
	font-size: 15px;
	text-align: right;
}

p.dep-name{
	text-transform: uppercase;
	color: #a51313;
	margin-top: 0;
	margin-bottom: 0;	
}

span.subtitle-cargo{
	font-size: 13px;
	margin-top: 0px; 
	float: right;
}

.video{
	border: #f9a71a solid 10px;
    max-width: 100%;
    max-height: 100%;
    height: 566px;
    width: 100%;
}

.pareceptivas h2{
	margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3.5rem;
}

.pareceptivas h2 strong{
	font-weight: bold;
}

.texto-receptivo-sub{
	margin-bottom: 30px;
	font-size: 1.5rem;
}

.list-total{
	margin-bottom: 30px;
}

.aspas{
	color: #a51313;
	font-size: 25px;
}

/*Para Agências Emissivas*/
.paemissivas{
	background: #f0f0f0;
	color: #3c3c3c;
	padding-bottom: 15px;
	padding-top: 5px;	
	margin-bottom: 80px;
}

.paemissivas h2{
	margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3.5rem;
}

.paemissivas h2 strong{
	font-weight: bold;
}

.subtitle-cargo-left{
	font-size: 13px;
    margin-top: 0px;
    float: left;
}

p.dep-1{
	margin-top: 20px;
	font-size: 15px;
	text-align: left;
}

.clientes-satisfeitos img.logos-int{
	margin-top: 0px;
}

.decolar{
	background: #fff;
    padding: 5px 10px 5px 0px;
}

/*Para Congressos e Eventos*/
.pceventos{
	margin-bottom: 85px;
}

.pceventos h2{
	margin-top: 30px;
    margin-bottom: 10px;
	font-size: 3.5rem;
	padding-bottom: 15px;
}

.pceventos h2 strong{
	font-weight: bold;
}

/*Para Venda de Tickets*/
.pvdtickets{
	background: #f0f0f0;
	color: #3c3c3c;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-bottom:70px;
}

.pvdtickets h2{
	margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3.5rem;
}

.pvdtickets h2 strong{
	font-weight: bold;
}

.veromundo{
	background: #fff;
    padding: 0px 50px 0px 50px;
}

.gramado{
	background: #fff;
    padding: 15px 5px 15px 5px;
}

/*Para Venda de Cotas*/
.pvdcotas{
	color: #3c3c3c;
	padding-bottom: 15px;
	margin-bottom: 75px;
}

.pvdcotas h2{
	margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3.5rem;
}

.pvdcotas h2 strong{
	font-weight: bold;
}

/* Website Responsivo / Certificado de Segurança*/
.wrcdseguranca{
	background: #f0f0f0;
	color: #3c3c3c;
	margin-bottom: 45px;
}

.wrcdseguranca h2{
	margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3.3rem;
}

.wrcdseguranca h2 strong{
	font-weight: bold;
}

.wrcdseguranca h3{
	margin-top: 30px;
}

/*Nossas Integrações*/
.swipper-container-integracoes{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.swiper-button-prev-integracoes, .swiper-container-rtl .swiper-button-next-integracoes{
	background-image: url(../img/seta-1.png);
	left: -2px;
}

.swiper-button-next-integracoes, .swiper-container-rtl .swiper-button-prev-integracoes{
	background-image: url(../img/seta-2.png);
	right: -2px;
}

.swiper-button-next-integracoes{
	background-size: 19px 75px;
	top: 38%;
}

.swiper-button-prev-integracoes{
	background-size: 15px 75px;
	top: 38%;
}

.nintegracoes{
	color: #3c3c3c;
}

.nintegracoes h2{
	margin-top: 30px;
	font-size: 3.5rem;
	margin-bottom: 10px;
}

.nintegracoes h2 strong{
	font-weight: bold;
}

.nintegracoes.font-website{
	font-size: 1.5rem;
}

.img-box-slide img{
	width: 80%;
	margin-bottom: 55px;
}

/*Rodapé-main*/
.rodape1{
	background-color: #a51313;
	padding: 20px 0;
}

.white{
	color: white;
}

.coluna-footer{
	border-right: 1px solid rgba(0,0,0,.125);
	margin-top: 10px;
}

.coluna-footer:last-child{
	border: none;
}

.coluna-footer h6 a{
	text-transform: uppercase;
	color: #fff;
}

.coluna-footer h6 a:hover{
	color: #faa71b;
	text-decoration: none;
}

.font-footer{
	font-size: 13px;
}

ul.font-footer li{
	margin-bottom: 10px;
}

.icones svg{
	margin-right: 5px;
}

a.icones svg.svg-red:hover{
	fill: #a51313;
	background-color: #faa71b;
	color: #a51313;
	border-radius: 50%;
}

/*Rodapé 2*/
.rodape2{
	background-color: #fff;
	margin-top: 20px;
	padding: 20px 0;
}

.rodape2 h6{
	text-transform: uppercase;
}

.img-rodape{
	margin-top: 10px;
}

/*Formulário*/
.background-yellow{
	background: #f9a71a;
	padding: 5px;
}

.input-form{
	border-radius: 0;
    margin-top: 6px;
}

.texto-label{
	line-height: 30px;
    color: #fff;
    font-size: 21px;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: 500;
}	

.btn-2{
	padding: 0;
	margin-top: 6px;
}

.btn-2 img{
	height: 36px;
}

footer{
	min-height: 100%;
	margin-bottom: 7%;
}

.fixed-form{
	position: fixed	;
	width:100%;
	bottom: 0;
	z-index: 6
}

.btn-form-display{
	display: none;
}

/*****************Fale Conosco*************************/
.banner-fc{
	width: 100%;
	height: 100%;
}

#banner{
	background: url(../img/banner-fc.png);
    position: relative;
    width: 100%;
	height: 380px;
	max-width: 100%;
	max-height: 100%;
	margin-top: 83px;
	z-index: 1;
}

.text-banner-fc{
	vertical-align: middle;
	color: #243b53;
	margin-top: 30px;
}

.text-banner-fc h1{
	font-size: 4rem;
}

.subtitle-fc{
	font-weight: 500;
	font-size: 1.2rem;
}

.text-fc{
	font-weight: 500;
	font-size:0.9rem;
}

/*Chat*/
.btn-green-chat{
	background: #45a300;
}

.white-chat{
	color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.white-chat-small{
	color: white;
	font-size: 1rem;
}

/*Dados*/
.dados{
	margin-top: 30px;
	position: relative;
	width: 100%;
}

.dados-row{
	width: 100%;
}

.card-call h4{
	text-transform: uppercase;
	color: #555758;
}

.card-call p{
	color: #555758;
	font-size: 1rem;
}

img.img-rounded{
	background: #555758;
    border-radius: 50%;
	padding: 25px;
	margin-bottom: 10px;
}

img.address-rounded{
	padding-left: 22px;
    padding-right: 21px;
}

img.tel-rounded, img.email-rounded, img.func-rounded{
	padding-left: 22px;
    padding-right: 22px;
}

img.img-rounded:hover{
	background: #f9a71a;
}

/*Formulário*/
form{
	color: #3c3c3c;
}

.select-sector{
	padding-left: 0px;
    padding-right: 34px;
}

.btn-form{
	background: #fff;
    border: #000 3px solid;
    border-radius: 0;
}

button.btn-form:hover{
	border: #a51313 3px solid;
	color: #a51313;
}

.formulario{
	margin-top: 30px;
}

a.icones svg.svg-yellow:hover{
	fill: #faa71b;
	background-color: #fff;
	color: #faa71b;
	border-radius: 50%;
}

.icons-form{
	margin-top: 30px;
}

/*Maps*/
.maps img{
	width: 100%;
	position: relative;
	margin-top: 30px;
}

/*Footer - Contato*/
footer.footer-contato{
	min-height: 60%;
    margin-bottom: 0%;
}

/*******************Gestor de Canais********************/
.text-slide-gestor{
	z-index: 5;
    text-align: right;
    position: absolute;
	height: 370px;
	color: #243b53;
	font-weight: 300;
	margin-left: 15%;
}

.text-slide-gestor p{
	font-size: 1.5rem;
	font-weight: 300;
}

.text-slide-gestor h1{
	font-size: 3.5rem;
}

.text-slide-gestor p.paragrafo{
	font-size: 1rem;
	font-weight: 300;
}

a.btn-sl-gestor-de-canais{
	background: #f9a71a;
    border-radius: 0;
    border: white 1px solid;
    color: white !important;
    text-transform: uppercase;
    margin-top: 20vh;
}

a.btn-sl-gestor-de-canais:hover{
	background: white;
	border: #f9a71a 1px solid;
	color: #f9a71a !important;
}

/*Modal*/
.btn-modal{
    border-radius: 0;
    background-color: #429400;
	color: white;
	margin-top: 6px;
}

/*Vantagens do Gestor - Gestor de Canais*/
.vdgestor{
	color: #3c3c3c;
	margin-bottom: 80px;
}

.vdgestor h2{
	font-size: 3.5rem;
    margin-bottom: 60px;
}

.vdgestor h2 strong{
	font-weight: bold;
}

/*Hoteis e Pousadas - Gestor de Canais*/
.hepousadas{
	background: url(../img/bg-gestor-de-canais-yl.png) no-repeat;
	background-size: 100%;
	width: 100%;
	position: relative;
	height: 740px;
}

.hepousadas h2{
	margin-top: 120px;
	margin-bottom: 10px;
	font-size: 3.5rem;
	color: white;
}

.hepousadas h2 strong{
	font-weight: bold;
}

.hepousadas p{
	color: white;
	font-size: 2.2rem;
}

/*Nossas integrações - Gestor de Canais*/
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0px;
    left: 0;
    width: 100%;
	top: 309px;
	margin-bottom: 25px;	
}

.swiper-pagination{
	position: initial;
}

.swiper-pagination-bullet-active{
	opacity: 1;
    background: #f9a71a;
}

p.fontIntegracao{
	font-size: 1.5rem;
}

/*Rapido Facil Eficiente - Gestor de Canais*/
.rfeficiente{
	background: url(../img/bg-pc-gestor-de-canais.png) no-repeat;
	background-size: 100%;
	width: 100%;
	position: relative;
	height: 740px;
}

.rfeficiente h2{
	margin-top: 100px;
	margin-bottom: 10px;
	font-size: 3.5rem;
	color: #3c3c3c;
}

.rfeficiente h2 strong{
	font-weight: bold;
}

.rfeficiente p{
	color: #3c3c3c;
	font-size: 2.2rem;
}

/*Clientes Satisfeitos*/
.swiper-container-clientes {
	width: 100%;
	height: 100%;
	margin: auto;
  }

.text-title-client p{
	color: #ab3232;
}  

.text-title-client span{
	color: #4f4f4f;
	font-size: 0.9rem;
}

.img-client img{
	margin-bottom: 20px;
}

.swiper-pagination-client{
	position: absolute;
	bottom: 55px !important;
    top: auto !important;
}

.csatisfeitos h2{
	margin-top: 20px;
	font-size: 3.5rem;
	color: #3c3c3c;
	margin-bottom: 10px;
}

.csatisfeitos h2 strong{
	font-weight: bold;
}

.csatisfeitos p.subtitulo-client{
	font-size: 1.5rem;
	color: #3c3c3c;
}

/*Footer - Gestor de Canais*/
footer.footer-foco-gc{
	margin-bottom: 5%;
}

/****************Motor de Reservas*********************/
/*Slide*/
.text-slide-mv{
	z-index: 5;
    text-align: left;
    position: absolute;
    height: 470px;
    color: #3c3c3c;
    font-weight: 400;
    margin-left: -20%;
}

.text-slide-mv p{
	font-size: 1.3rem;
	font-weight: 400;
}

.text-slide-mv h1{
	font-size: 3.5rem;
}

/*Vantagens do Motor*/
.vantagens-motor{
	margin-bottom: 60px;
	color: #3c3c3c;
}

.vantagens-motor h2{
	font-size: 3.5rem;
	margin-top: 20px;
	margin-bottom: 60px;
}

.vantagens-motor h2 strong{
	font-weight: bold;
}

/*Praticidade Segurança*/
.praticidade-seguranca{
	background: url(../img/bg-motor-de-reservas.png) no-repeat;
	background-size: 100%;
	width: 100%;
	position: relative;
	height: 800px;
}

.praticidade-seguranca h2{
	margin-top: 60px;
	margin-bottom: 10px;
	font-size: 3.5rem;
	color:#3c3c3c;
}

.praticidade-seguranca strong{
	font-weight: bold;
}

.praticidade-seguranca p{
	color: #3c3c3c;
	font-size: 2.2rem;
	margin-bottom: 90px;
	margin-top: 20px;
}

/*Ambiente Corporativo*/
.ambiente-corp{
	background: url(../img/bg-seguranca-yl-mv.png) no-repeat;
	background-size: 100%;
	width: 100%;
	position: relative;
	height: 1040px;
}

.ambiente-corp h2{
	margin-top: 60px;
	margin-bottom: 10px;
	font-size: 3.3rem;
	color:white;
}

.ambiente-corp h2 strong{
	font-weight: bold;
}

.ambiente-corp p{
	color: white;
	font-size: 1.5rem;	
	margin-bottom: 90px;
	margin-top: 10px;
}

.text-amb-corp{
	color: white;
}

.div-spec-amb{
	margin-bottom: 0px;
}

.number-amb-corp{
    font-weight: bolder;
    color: white;
    font-size: 90px;
}

.bottom-number{
	bottom: 30px;
}

/*Website Integrado Gratuito*/
.web-integrado h2{
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 3.5rem;
	color:#3c3c3c;
}

.web-integrado h2 strong{
	font-weight: bold;
}

.web-integrado p{
	color: #3c3c3c;
	font-size: 1.5rem;	
	margin-top: 10px;
}

.names-web-integrado span{
	background: #e3e3e3;
    color: #3c3c3c;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 500;
    font-size: 0.7rem;
    padding: 9px;
    /*margin-right: 10px;*/
}

.names-web-integrado div{
	margin-top: 5px;
	margin-bottom: 10px;
}

.names-web-integrado span:hover{
	background: #f9a71a;
    color: white;
}

/*Nossas Integrações - Motor de Reservas*/
.integracoes-mv{
	background: #ececee;
	margin-bottom: 20px;
}
.integracoes-mv h2{
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 3.3rem;
	color:#3c3c3c;
}

.integracoes-mv h2 strong{
	font-weight: bold;
}

.integracoes-mv p{
	color: #3c3c3c;
	font-size: 1.5rem;	
	margin-top: 10px;
}

.integracoes-mv img{
	margin-top: 20px;
}

.swiper-slide-int-mv{
	background: transparent;
}

.swiper-container-int-mv{
	margin: 0 auto;
	margin-left: -20px;
}

.cascade-slider_container {
	position: relative;
	width: 100%;
	height: 500px;
	margin: 0 auto;
  }
  
  .cascade-slider_item {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translateY(-50%) translateX(-50%) scale(0.3);
	transition: all 1s ease;
	opacity: 0;
	z-index: -1;
  }
  
  .cascade-slider_item.next {
	left: 55%;
	transform: translateY(-50%) translateX(-150%) scale(0.6);
	opacity: 1;
	z-index: 1;
  }
  
  .cascade-slider_item.prev {
	left: 10%;
	transform: translateY(-50%) translateX(50%) scale(0.6);
	opacity: 1;
	z-index: 1;
	margin-right: 5%;
  }
  
  .cascade-slider_item.now {
	top: 50%;
	left: 40%;
	transform: translateY(-50%) translateX(-50%) scale(1);
	opacity: 1;
	z-index: 5;
  }

  .cascade-slider_nav {
	position: absolute;
	bottom: 0px;
	width: 77%;
	text-align: center;
	z-index: 5;
  }
  
  .cascade-slider_dot {
	display: inline-block;
	width: 0.6em;
    height: 0.6em;
    margin: 0.8em;
	background: #ddd;
	list-style: none;
	cursor: pointer;
	border-radius: 50%;
  }
  
  .cascade-slider_dot:hover { background: #f9a71a; }
  
  .cascade-slider_dot.cur { background: #f9a71a; }

/****************Responsividade************************/
@media (min-width: 300px) and (max-width: 339px){

}

@media (min-width: 340px) and (max-width: 359px){

}

@media (min-width: 360px) and (max-width: 369px){

}

@media (min-width: 370px) and (max-width: 380px){

}

@media (min-width: 411px) and (max-width: 415px){

}

@media (min-width: 760px) and (max-width: 800px){
    /*Menu-Index*/
    select.select-menu{
		margin-left: 0px;
	}
}

@media (min-width: 990px) and (max-width: 1400px){
    .navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.2rem !important;
    	padding-left: .5rem !important;
	}
}   

@media (min-width: 1020px) and (max-width: 1024px){
    /*Menu--Index*/
	.navbar-expand-lg .navbar-nav{
		font-size: 12px;
	}
}

/*Geral*/
@media (min-width: 320px) and (max-width: 600px){
    /*Menu*/
	select.select-menu{
		margin-left: 0;
	}

	/*Principais Vantagens*/
	.img-vantagens-mobile{
		display: none;
	}

	.list-main-vantage{
		font-size: 1.0rem;
	}

	.list-main-vantage li h3 {
		font-size: 1.3rem;
	}

	.pvantagens h2{
		font-size: 1.9rem;
	}

	/*Perfis Disponiveis*/
	.pdisponible h2{
		font-size: 1.9rem;
	}

	.text-perfil-one{
		font-size: 1.0rem;
	}

	.text-perfil-two{
		font-size: 1.2rem;
	}

	.text-perfil-three{
		font-size: 0.7rem;
	}

	.center-mobile{
		text-align: center !important;
	}

	img.img-perfis {
		display: none;
	}

	/*Agencias Receptivas*/
	.pareceptivas h2{
		font-size: 1.8rem;
	}

	.texto-receptivo-sub{
		font-size: 1.0rem;
	}

	p.text-main-receptivos{
		font-size: 1.0rem;
	}

	.video{
		height: 100%;
	}

	span.subtitle-cargo{
		margin-bottom: 10px;
	}

	a.list-receptivos{
		font-size: 1.3rem;
	}

	.list-width{
		width: 50%;
    	margin-bottom: 10px;
	}

	.title-mobile-vantagens{
		text-align: left !important;
	}

	span.subtitle-cargo{
		float: left;
	}

	.clientes-satisfeitos h3{
		margin-top: 20px;
	}

	/*Agencias Emissivas*/
	.paemissivas h2{
		font-size: 1.8rem;
	}

	/*Congressos e Eventos*/
	.pceventos h2{
		font-size: 1.8rem;
	}

	/*Venda de Tickets*/
	.pvdtickets h2{
		font-size: 1.8rem;
	}

	/*Venda de Cotas*/
	.pvdcotas h2{
		font-size: 1.8rem;
	}

	.subtitle-cargo-left{
		margin-bottom: 20px;
	}

	/*Website Responsivo*/
	.img-cel{
		margin-bottom: 10px;
	}

	.img-cel-display{
		display: none;
	}

	.font-website{
		font-size: 1.1rem;
	}

	.wrcdseguranca h2{
		font-size: 1.8rem;
	}

	.display-certificado{
		width: 50%;
	}

	/*Footer*/
	footer{
		margin-bottom: 20%;
	}

	.rodape2 h6{
		margin-top: 10px;
	}

	.coluna-footer h6{
		font-size: 1.1rem;
	}

	ul.font-footer li{
		font-size: 1rem;
	}

	/*Formulário - Geral*/
	.form-display{
		display: none;
	}

	.btn-form-display{
		display: block;
		box-shadow: none;
		color: white;
		font-size: 1.3rem;
		color: white !important;
		font-size: 1.3rem;
		border-radius: 0;
	}

	@-webkit-keyframes ef-pulse-grow {
		to {
		  -webkit-transform: scale(1.1);
		  transform: scale(1.1);
		}
	  }
	  @keyframes ef-pulse-grow {
		to {
		  -webkit-transform: scale(1.1);
		  transform: scale(1.1);
		}
	  }
	  .ef-pulse-grow {
		webkit-animation-name: ef-pulse-grow;
		animation-name: ef-pulse-grow;
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;
		animation-direction: alternate;
	  }

	/********************************Contato***************************/
	/*Banner*/
	.text-banner-fc h1{
		font-size: 3.3rem;
	}
	/*Chat*/
	.btn-green-chat img{
		width: 9%;
	}

	.white-chat{
		font-size: 0.9rem;
	}

	.white-chat-small{
		font-size: 0.6rem;
	}

	/*Formulário*/
	.margem-input-bottom{
		margin-bottom: 10px;
	}

	.select-sector{
		margin-right: -5px;
    	margin-left: -5px;
	}

	/*Footer*/
	footer.footer-contato {
		min-height: 100%;
		margin-bottom: 30%;
	}

	/*********************************Gestor de Canais**************************/
	/*Nossas Integrações*/
	.nintegracoes h2 {
		font-size: 2.0rem;
	}

	p.fontIntegracao{
		font-size: 1.1rem;
	}

	/*Vantagens do Gestor*/
	.vdgestor h2{
		font-size: 1.8rem;
	}

	/*Hoteis Pousadas*/
	.hepousadas h2{
		font-size: 1.8rem;
		margin-top: 20px;
	}

	.hepousadas p{
		font-size: 1.2rem;
	}

	.hepousadas{
    	height: auto;
		background-color: #f9a71a !important;
		background-image: none;
	}

	/*Rapido Facil Eficiente*/
	.rfeficiente h2{
		font-size: 1.8rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.rfeficiente p{
		font-size: 1.2rem;
	}

	.rfeficiente{
		background-image: none;
		height: auto;
		background-color: #f1f1f1;
	}

	/*Clientes Satisfeitos*/
	.csatisfeitos h2{
		font-size: 1.8rem;
	}

	.csatisfeitos p.subtitulo-client{
		font-size: 1.1rem;
	}

	.swiper-pagination-client{
		bottom: 0px !important;
    	top: 545px !important;
	}

	.text-title-client{
		margin-bottom: 40px;
	}

	.img-client img {
		margin-top: 20px;
	}

	.slide-cliente-bt{
		margin-bottom: 20px;
	}

	/*Footer*/
	footer.footer-foco-gc {
		margin-bottom: 80px;
	}

	/***************************Motor de Reservas**************************************/
	/*Website Integrado Gratuito*/
	.cascade-slider_item.next {
		left: 60%;
	}

	.cascade-slider_item.prev {
		left: 40%;
		margin-right: 20%;
	}

	.cascade-slider_nav{
		width: 90%;
	}

	.cascade-slider_container{
		height: 250px;
	}

	.cascade-slider_item.now{
		left: 50%;
	}

	.web-integrado h2{
		font-size: 1.8rem;
	}

	.web-integrado p{
		font-size: 1.1rem;
	}

	.names-web-integrado span{
		font-size: 1.0rem;
	}

	/*Ambiente Corporativo*/
	.ambiente-corp h2{
		font-size: 1.8rem;
	}

	.ambiente-corp p{
		font-size: 1.1rem;
	}

	.ambiente-corp{
		height: auto;
		background-color: #f9a71a;
		background-image: none;
	}

	.width-20{
		width: 20%;
	}

	.width-80{
		width: 70%;
    	margin-left: 30px;
	}

	/*Vantagens Motor*/
	.vantagens-motor h2{
		font-size: 1.8rem;
	}

	/*Praticidade Segurança*/
	.display-none{
		display: none;
	}

	.praticidade-seguranca h2{
		font-size: 1.8rem;
	}

	.praticidade-seguranca p{
		font-size: 1.3rem;
	}

	.praticidade-seguranca{
		height: auto;
		background-color: #f0f0f0;
		background-image: none;
	}

	.bottom-img-safe{
		margin-bottom: 20px;
	}

	/*Integrações*/
	.integracoes-mv h2{
		font-size: 1.8rem;
	}

	.integracoes-mv p{
		font-size: 1.1rem;
	}

	.img-integracao{
		display: none;
	}
	
}